* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #282D35;
}

nav {
  background-color: #21222A;
  display: flex;
  align-items: center;
  padding: 30px 25px;
  height: 90px;
}

.navbar>h3,
h4 {
  margin: 0;
}

.navbar>h3 {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
}

.navbar>h4 {
  color: #DEEBF8;
  font-weight: 600;
}

.navbar>img {
  height: 30px;
  padding-left: 7px;
}

.main {
  padding: 57px 27px;
  color: white;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 50%;
  height: 100vh;
}

.main>h1 {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.main>ul li {
  line-height: 19px;
  padding-block: 10px;
}

.main>ul li::marker {
  color: #61DAFB;
  font-size: 1.4rem;
}